.movies-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    width: 100%;
    overflow: hidden;   
}

.movies-card__picture {    
    height: 201px;
    width: 360px;
    display: block;
    margin-bottom: 14px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.movies-card__picture:hover {
    cursor: pointer;
    opacity: 0.8;
}

.movies-card__button {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    height: 21px;
    width: 72px;
    padding: 0;
    border: none;
    background-image: url(../../images/savedButton.svg);
    background-repeat: no-repeat;
}

.movies-card__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.movies-card__button_like {
    background-image: url(../../images/save.svg);
    width: 21px;
}

.movies-card__button_delete {
    background-image: url(../../images/delete.svg);
    width: 21px;  
}

.movies-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 332px;
    width: 100%;
}

.movies-card__title {
    color: #FFFFFF;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movies-card__duration {
    color: #8B8B8B;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    background-color: #2F2F2F;
    width: 52px;
    height: 14px;
    border: none;
    border-radius: 3px;
    margin: 0;
    padding-top: 4px;    
}

@media screen and (max-width: 1156px) {
    .movies-card__picture {
        margin-bottom: 25px;
    }
    .movies-card__picture {
        max-width: 339px;
    }
}

@media screen and (max-width: 748px) {
    .movies-card__title {
        font-size: 12px;
        max-width: 240px;
    }
    .movies-card__picture {
        max-width: 300px;
        margin-bottom: 16px;
    }
    .movies-card__button {
        top: 10px;
        right: 10px;
    }
}