.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 74px;
    margin-bottom: 123px;
    color: #FFFFFF;
}

.profile__log-out {
    text-decoration: none;
    color: #EE3465;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
}

.profile__log-out:hover {
    cursor: pointer;
    opacity: 0.7;
}

.profile__container-input {
    display: flex;
    flex-direction: column;   
    color: #FFFFFF;
}

@media screen and (max-width: 748px) {
    .profile__title {
        margin-bottom: 79px;
        margin-top: 236px;
    }
    .profile__log-out {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 425px) {
    .profile__title {
        margin-bottom: 63px;
        margin-top: 70px;
    }
    .profile__log-out {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 14.52px;
    }
}