.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__span {
    min-height: 14px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #202020;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    margin-top: 135px;
}
.form__span-register {
    margin-top: 45px;
}

.form__span_active {
    color: #EE3465;
}
.form__span_disabled {
    color: #202020;
}

.form__button {
    padding: 0;
    margin: 10px 0 0;
    background-color: #4285F4;
    border: 0;
    width: 396px;
    height: 45px;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
}

.form__button_disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
    cursor: default;
}

.form__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form__button-edit {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin-top: 204px;
    margin-bottom: 16px;
}

.form__button-edit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile__edit {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin-top: 10px;
    margin-bottom: 16px;
}
.profile__edit:hover {
    cursor: pointer;
    opacity: 0.8;
}
.profile__error {
    min-height: 14px;    
    color: #202020;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    margin-top: 163px;
}
.profile__error_active {
    color: #FF004C;
}
.profile__button {
    width: 410px;
    height: 45px;
    background-color: #3456F3;
    color:#FFFFFF;
    border: none;
    border-radius: 3px;
    margin-top: 13px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
}
.profile__button_disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
    cursor: default;
}
.profile__button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.profile__error_type_success {
    color: #8B8B8B;
}

@media screen and (max-width: 768px) {
    .form__button {
        margin-top: 157px;
    }
    .form__error {
        margin-top: 176px;
    }
    .form__button-edit {
        margin-top: 194px;
    }
    .profile__edit {
        margin-top: 194px;
    }
    .profile__error {
        margin-top: 176px;
    }
    .profile__button {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 420px) {
    .form__span {
        max-width: 260px;
    }
    .form__button {
        max-width: 260px;
        font-size: 12px;
        line-height: 14.52px;
        margin-top: 245px;
    }
    .form__error {
        width: 260px;
    }
    .form__button-edit {
        margin-top: 363px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 14.52px;
    }
    .profile__edit {
        margin-top: 363px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 14.52px;
    }
    .profile__error {
        width: 260px;
    }
    .profile__button {
        width: 260px;
        font-size: 12px;
        line-height: 14.52px;
    }
}