.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF;
}

.not-found__title {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169.43px;
    margin: 246px auto 5px;
}

.not-found__subtitle {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin: 0px auto 184px;
}

.not-found__link {
    text-decoration: none;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #4285F4;
    margin: 0 auto 60px;
}

.not-found__link:hover {
    cursor: pointer;
    opacity: 0.7;
}
  
  @media screen and (max-width: 1023px) {
    .not-found__title {
      margin-top: 408px;
    }
    .not-found__link {
        margin-bottom: 222px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .not-found__title {
        font-size: 80px;
        line-height: 97px;
        margin-top: 329px;
        margin-bottom: 10px;
    }
    .not-found__subtitle {
        font-size: 14px;
        line-height: 14.52px;
        margin-bottom: 284px;
    }
    .not-found__link {
        font-size: 12px;
        line-height: 14.52px;
        margin-bottom: 30px;
    }
  }