.portfolio {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;    
}

.portfolio__title {
    margin-top: 101px;
    margin-bottom: 50px;
    color: #8B8B8B;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.portfolio__links {
    list-style-type: none;    
    width: 100%;
    padding: 0;
    margin: 0;
}

.portfolio__link {
    padding-bottom: 9px;
    border-bottom: 1px solid rgb(66, 66, 66);
    margin-top: 20px;
}

.portfolio__link:first-of-type {
    margin-top: 0px;
}

.portfolio__link:last-of-type {
    padding-bottom: 0;
    border: none;
    margin-bottom: 125px;
}

.portfolio__text {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.portfolio__text::after {
    content: '\2197';
    line-height: 60px;
}

.portfolio__text:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 1156px) {
    .portfolio {
        max-width: 668px;   
    }    
    .portfolio__title {
        margin-top: 90px;
    }    
    .portfolio__link:last-of-type {
        margin-bottom: 90px;
    }    
    .portfolio__text {
        font-size: 28px;
    }
}

@media screen and (max-width: 748px) {
    .portfolio {
        max-width: 292px;  
    }    
    .portfolio__title {
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: 14px;
    }    
    .portfolio__link:last-of-type {
        margin-bottom: 70px;
    }
    .portfolio__link {
        padding-bottom: 19px;

    }
    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__text::after {
        line-height: 28px;
    }
}