.page__container {
    width: 100%;
    background-color: #202020;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}