.navigation {
    display: flex;
    max-width: 1102px;
    width: 100%;
    justify-content: flex-end;
}

.navigation__container {
    display: flex;
    margin-top: 21px;
    max-height: 32px;
    align-items: center;
}

.navigation__registration {
    text-decoration: none;
    background-color: transparent;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 77px;
    height: 16px;
    padding: 0;
}

.navigation__registration:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navigation__login {
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #3DDC84;
    color: #000000;
    border: none;
    border-radius: 3px;
    width: 76px;
    height: 24px;
    padding: 8px 0 0;
}

.navigation__login:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 748px) {
    .navigation__registration {
        border: none;
        font-size: 10px;
        width: 64px;
    }
    .navigation__login {
        margin-left: 14px;
        font-size: 10px;
        width: 54px;
        height: 21px;
        padding: 5px 0 0;
    }
    .navigation__container {
        margin-top: 24px;
    }
}