.about-project {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.about-project__title {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
    margin-top: 110px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 23px;
}

.about-project__about {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 550px));
    column-gap: 40px;
    row-gap: 26px;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    margin-top: 70px;
}

.about-project__about-title {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.04em;    
    margin: 0;
}

.about-project__about-text {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.about-project__table {
    display: grid;
    grid-template-columns: 228px 912px;
    text-align: center;
    margin-top: 110px;
}

.about-project__table-title {
    margin: 0;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding: 9px 14px;
}

.about-project__table-title_green {    
    background-color: #3DDC84;
    color: #000000;    
}

.about-project__table-title_grey {
    background-color: #303030;
    padding: 9px 14px;
}

.about-project__table-text {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight:500;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-top: 14px;
    margin-bottom: 110px;
}

@media screen and (max-width: 1152px) {
    .about-project {
        max-width: 668px;
    }
    .about-project__title {
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .about-project__about {
        column-gap: 30px;
        row-gap: 22px;
    }
    .about-project__table {
        grid-template-columns: 140px 528px;
        margin-top: 93px;
    }
    .about-project__about-text {
        font-size: 12px;
        line-height: 18px;
    }
    .about-project__table-text {
        font-weight: 400;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 717px) {
    .about-project {
        max-width: 284px;
    }
    .about-project__title {
        margin-top: 70px;
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 4px;
    }
    .about-project__about {
        row-gap: 16px;
        margin-top: 0;
        grid-auto-flow: row;
    }
    .about-project__about-title {
        margin-top: 56px;
        font-size: 18px;
        line-height: 21.78px;      
    }
    .about-project__about-text {
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__table {
        grid-template-columns: 100px 184px;
        margin-top: 60px;
    }
    .about-project__table-title {
        font-size: 11px;
        line-height: 13.31px;
    }
    .about-project__table-text {
        font-size: 11px;
        line-height: 13.31px;
        margin-bottom: 69px;
    }
}