.navtab__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.navtab__link {
    margin-right: 10px;
}

.navtab__link:last-of-type {
    margin-right: 0;
  }

.navtab__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    border-radius: 10px;
    border: none;
    padding: 0;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 96px;
    height: 36px;    
}

.navtab__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 717px) {
    .navtab__button {
        width: 82px;
        height: 26px;
        font-size: 10px;
    }
    .navtab__list {
        margin-bottom: 22px;
    }
}